      * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
      h1 {
        font-size: 40px;
        margin: 0 auto;
        text-align: center;
        }

    .container {
        display: flex;
        justify-content: space-between;
    }
    .dataset {
        margin: 50px auto;
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
    }
    .dataset a {
        text-decoration: none;
        margin: 50px;
        width: 200px;
    }
    .caption {
        text-align: center;
    }
    .choose{
        text-align: center;
        font-size: 50px;
    }